:root {
    --water-color: #e0e0e0; /* Gris claro para el agua */
    --border-color: #000000;
    --country-fill: #b0b0b0; /* Gris intermedio para rellenar los países */
    --country-active: #404040; /* Gris oscuro para cuando un país está clicado */
  }

body {
    background: var(--water-color) !important;
    margin: 0;
}

.mapadiv {
    width: 100vw;
    margin: auto;
    justify-content: center;
    padding-top: 40px;
    display: flex;
    max-width: 90vw !important;
}

.mapadiv path {
    fill: var(--country-fill);
    stroke: var(--border-color);
    stroke-width: 1px;
    transition: fill 0.3s, stroke-width 0.3s;
  }

.mapadiv path:hover {
    stroke-width: 3px;
    cursor: pointer;
}

.mapadiv path.active {
    fill: var(--country-active);
    stroke-width: 3px;
}

#country-card {
    position: fixed; /* Fija la tarjeta en una posición relativa a la ventana del navegador */
    bottom: 10px; /* Espacio desde la parte inferior */
    left: 10px; /* Espacio desde la parte izquierda */
    z-index: 1000; /* Asegura que la tarjeta esté sobre otros elementos */
}

.flag {
    font-size: 4rem;
    position: absolute;
    top: -10px;
    right: 20px;
    margin: 0
}

.country-data {
    margin-top: 20px;
}

.country-data p {
    margin-bottom: 0.5rem !important;
}


/*modal*/
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer {
    border-top: none;
}

/* footer */
footer {
    font-family: monospace;
    position: absolute;
    bottom: 0;
    left: 300px
}

.footer-icon {
    height: 30px;
    margin-left: 15px;
    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.3s ease;
}

.footer-icon:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
}
